.filters {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}

button {
  padding: 0.6rem 1rem;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: blue;
  transform: scale(1.03);
  color: white;
}

.active {
  background-color: #4facfe;
  color: white;
  border-color: #4facfe;
}
