.app {
  font-family: "Segoe UI", sans-serif;
  padding: 2rem 3rem;
  background-color: #f4f6f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100vw;
  box-sizing: border-box;
}

.main {
  width: 100%;
  max-width: none;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
